.pagina {
  margin: auto;
}
.flexmeplz {
  display: flex;
  justify-content: space-between;
}
.registrationselectproject {
  flex: 0.2;
  border-radius: 5px;
  border-color: #1dc4e7;
  outline: none;
  background-color: white;
  margin-left: 2px;
  box-shadow: -1px 4px 20px -6px #1dc4e7;
}

.searchproject {
  flex: 0.5;
  box-shadow: -1px 4px 20px -6px #1dc4e7;
}
