#viewproduct {
  background-color: #1dc4e7;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
}
.opedit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edittabletitle{
  text-align: center;
}