.registrationbox {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}


.registrationbox span{
  background-color: rgb(236, 89, 89);
  border-radius: 5px;
}


.registrationcontainer {
  position: relative;
  bottom: 100px;
  
  background-color: #1dc4e7;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 20px;
  width: 700px;
}

label {
  font-size: 20px;
}
.registrationbox > input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.registrationselect {
  width: 20%;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-top: 10px;
  margin-left: 132px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.regsub {
  width: 80px;
  height: 40px;
  
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: larger;
}

.regtitle {
  text-align: center;
  font-size: 40px;
}
