.logincontainer {
  margin-top: 100px;
}
#h2oflogin {
  margin-bottom: 5px;
}
.logincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  position: relative;
  z-index: 0;
  bottom: 100px;

}
.logincontainer1 h2 {
  color: white;
}
.loginiconz {
  color: #1dc4e7;
}
.logincontainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1dc4e7;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  width: 23rem;
  height: 23rem;
  border-radius: 25px;
}

.loginemail {
  outline: none;
  border: none;
  width: 250px;
  height: 25px;
}

.loginpassword {
  outline: none;
  border: none;
  width: 250px;
  height: 25px;
}

.logincontainer button {
  width: 70px;
  height: 25px;
  border-radius: 20px;
  border: none;
  color: #313235;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.loginicon {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
