.chartContainer {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 100px;
}

.employeelist-charts {
  
  
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: -1px 4px 20px -6px #1dc4e7;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}
.loginiconzemloyeelist{
  margin-left: auto;
}
#check:checked ~.chartContainer{
  display: none;
  transition: 0.5s linear;
}

